@media only screen and (max-width: 1000px) {
  article {
    width: 85vw;
    margin: auto;
  }
}

@media only screen and (min-width: 1000px) {
  article {
    width: 45vw;
    margin: auto;
  }
}

header {
  text-align: center;
}

header p {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 0.1vw;
}

input {
  display: block;
}

fieldset {
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.3vw;
}

#name,
#email,
#number,
#comments-area,
#dropdown {
  width: 100%;
  display: block;
}

fieldset div {
  display: flex;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dcdcdc;
  color: black;
  text-align: center;
}

.footer p {
  display: inline-block;
  padding-right: 1em;
}

.footer a {
  color: #b22222;
}
