article {
  width: 50vw;
  margin: auto;
}

header {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.1vw;
}

#name,
#email,
#number {
  width: 100%;
  display: block;
}

.field-radio {
  text-align: right;
}

.radiotext {
  vertical-align: middle;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dcdcdc;
  color: black;
  text-align: center;
}

.footer p {
  display: inline-block;
  padding-right: 1em;
}

.footer a {
  color: #b22222;
}
